---
type: specs.openrewrite.org/v1beta/recipe
name: org.junit.openrewrite.SanityCheck
displayName: Apply all Java & Gradle best practices
description: Comprehensive code quality recipe combining modernization, security, and best practices.
tags:
  - java
  - gradle
  - static-analysis
  - cleanup
recipeList:
  - org.openrewrite.java.format.NormalizeLineBreaks
  - org.openrewrite.java.format.RemoveTrailingWhitespace
  - org.openrewrite.java.testing.junit5.CleanupAssertions
  # blank out breaking, consider individual fix.
  # - org.openrewrite.java.testing.junit5.JUnit5BestPractices
---
